Options +FollowSymLinks
RewriteEngine On

RewriteRule ^essai\.html$ test.html [L,NC]
RewriteRule ^pages/article-([_a-z0-9-]+)\.html$ pages/modules.php?id=$1 [L,QSA,NC]
RewriteRule ^(.*/)?[^/]*-([_a-z0-9-]+)-([_a-z0-9-]+)\.html$ pages/modules.php?id=$2&idcat=$3 [L,QSA,NC]
RewriteRule ^(.*/)?[^/]*-([_a-z0-9-]+)-([_a-z0-9-]+)\.php$ pages/modules.php?id=$2&idcat=$3 [L,QSA,NC]

